<%= form_with(model: vulnerability, local: true) do |form| %>
  <%= render partial: 'partials/form_errors', locals: {model: @vulnerability} %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
