<h1>Vulnerabilities</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">RubyGem</th>
      <th scope="col">Title</th>
      <th scope="col">CVE</th>
    </tr>
  </thead>

  <tbody>
    <% @vulnerabilities.each do |vulnerability| %>
      <tr>
        <td><%= vulnerability.date.strftime('%d.%m.%Y') %></td>
        <td><%= vulnerability.rubygem %></td>
        <td><%= vulnerability.title %></td>
        <td><%= vulnerability.cve %></td>
      </tr>
    <% end %>
  </tbody>
</table>
