<h1>Vulnerabilities</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
    </tr>
  </thead>

  <tbody>
    <% @vulnerabilities.each do |vulnerability| %>
      <tr>
        <td><%= vulnerability.title %></td>
        <td>
          <%= link_to 'Show', vulnerability, class: 'block-link' %>
          <%= link_to 'Destroy', vulnerability, method: :delete, data: { confirm: 'Are you sure?' }, class: 'block-link' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Vulnerability', new_vulnerability_path %>
